

ul {
    list-style: none;
}

.header {
        font-family: $fontSpartan;
        background-color: #fff;
        box-shadow: 1px 1px 5px 0px gray;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        .shrink {
            margin-top: 1rem;
            margin-bottom: 0rem;
            height:45vh;
            max-height: 69px;
            overflow: hidden;
            transition: max-height .5s ease-in-out;
            display: flex;
            flex-direction: column;
        }
        .logo {
            display: inline-block;
            color: white;
            font-size: 60px;
            margin-left: 15px;
          
        }
        .nav {
            display: flex;
            flex-flow: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem 1em 1em 1em;
            transition: max-width .5s ease-in-out;
     
                .menu{
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    li {
                        margin-top:10px;
                        a{
                            margin-left: 2rem;
                            margin-top: 2rem;
                        }
                        color:$violet;
                        margin-left: 2rem;
                        font-family: $fontSpartan;
                        font-weight: 400;
                        font-size:17px;
                        line-height: 17px;
                      }
                      .contact-btn{
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #5B3587;
                        border-radius: 40px;
                        padding: 11.5px  12.5px  11.5px  12.5px ;
                        transform: translateY(-25%);
                        margin-left: 3.3rem;
                        margin-top: 18px;
                          a{
                            margin:0;
                            font-family: $fontSpartan;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 130%;
                            color:#fff;
                          }
                      }
            
                      .contact-lenguage{
                        font-style: normal;
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 17px;
                        text-align: right;
                        color: #512D7D;
                        margin-left: 4rem;
                        margin-right: 2rem;
                        margin-top: 5px;
            
                        span{
                          font-weight: 700;
                        }
                      }
                  }
                }
            }
        
        .hamb {
            cursor: pointer;
            position: absolute;
            right: 0;
            margin:33px 20px 20px 20px;
            height: 29px;
           
            .hamb-line {
                background:$violet;
                display: block;
                height: 2.5px;
                position: relative;
                top: 50%;
                transform: translateY(-1px);
                width: 24px;
                &::before,
                &::after {
                    background: $violet;
                    content: '';
                    display: block;
                    height: 100%;
                    position: absolute;
                    transition: all .5s ease-in-out;
                    width: 100%;
                }
                &::before {
                    top: 5px;
                }
                &::after {
                    top: -5px;
                }
            }
        }
        .sideMenu {
            display: none;
            &:checked,
            &.opened {
                &~.shrink {
                    max-height: 100vh;
                }
            }
            &:checked,
            &.opened {
                &~.hamb {
                    .hamb-line {
                        background: transparent;
                        &::before {
                            transform: rotate(-45deg);
                            top: 0;
                        }
                        &::after {
                            transform: rotate(45deg);
                            top: 0;
                        }
                    }
                }
            }
        }
    


    /* Responsiveness */
    @media (min-width: 768px) {
        .header {
            .sideMenu {
                &:checked,
                &.opened {
                    &~.shrink {
                        max-height: 69px;
                    }
                }
            }
            .shrink {
                display: block;
                flex-direction: none;
                overflow: visible;
                transition: none;
            }
            .nav {
                top: 0;
                position: relative;
                float: right;
                width: fit-content;
                height: auto;
                overflow: visible;
                .menu {
                    padding-bottom: 0px;
                    flex-direction: row;
                    li {
                        margin-top:0px;
                        float: left;
                        position: relative;
                    }

                    .contact-btn{
                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #5B3587;
                        border-radius: 40px;
                        padding: 11.5px  12.5px  11.5px  12.5px ;
                        transform: translateY(-25%);
                        margin-left: 3rem;
                        margin-top: 0rem;
                        margin-bottom: 0px;
                          a{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 130%;
                            color:#fff;
                            margin-top: 2rem;
                          }
                      }
                
                      .contact-lenguage{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 17px;
                        text-align: right;
                        color: #512D7D;
                        margin-left: 4rem;
                        margin-right: 2rem;
                        margin-top: 0rem;
                
                        span{
                          font-weight: 700;
                        }
                      }
                }
                .menu a:hover {
                    background-color: transparent;
                    color: gray;
                }
            }
            .hamb {
                display: none;
            }
        }
    }

   