@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

.mt {
  margin-top: 4rem;
}

ul {
  list-style: none;
}

.header {
  font-family: "Spartan", sans-serif;
  background-color: #fff;
  box-shadow: 1px 1px 5px 0px gray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header .shrink {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  height: 100vh;
  max-height: 69px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}
.header .logo {
  display: inline-block;
  color: white;
  font-size: 60px;
  margin-left: 15px;
}
.header .nav {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1em 1em 1em;
  transition: max-width 0.5s ease-in-out;
}
.header .nav .menu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.header .nav .menu li {
  margin-top: 10px;
  color: #5B3587;
  margin-left: 2rem;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
}
.header .nav .menu li a {
  margin-left: 2rem;
  margin-top: 2rem;
}
.header .nav .menu .contact-btn {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #5B3587;
  border-radius: 40px;
  padding: 11.5px 12.5px 11.5px 12.5px;
  transform: translateY(-25%);
  margin-left: 3.3rem;
  margin-top: 18px;
}
.header .nav .menu .contact-btn a {
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
}
.header .nav .menu .contact-lenguage {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  text-align: right;
  color: #512D7D;
  margin-left: 4rem;
  margin-right: 2rem;
  margin-top: 5px;
}
.header .nav .menu .contact-lenguage span {
  font-weight: 700;
}

.hamb {
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 50px 20px 20px 20px;
  height: 29px;
}
.hamb .hamb-line {
  background: #5B3587;
  display: block;
  height: 2.5px;
  position: relative;
  top: 50%;
  transform: translateY(-1px);
  width: 24px;
}
.hamb .hamb-line::before, .hamb .hamb-line::after {
  background: #5B3587;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
.hamb .hamb-line::before {
  top: 5px;
}
.hamb .hamb-line::after {
  top: -5px;
}

.sideMenu {
  display: none;
}
.sideMenu:checked ~ .shrink, .sideMenu.opened ~ .shrink {
  max-height: 100vh;
}
.sideMenu:checked ~ .hamb .hamb-line, .sideMenu.opened ~ .hamb .hamb-line {
  background: transparent;
}
.sideMenu:checked ~ .hamb .hamb-line::before, .sideMenu.opened ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.sideMenu:checked ~ .hamb .hamb-line::after, .sideMenu.opened ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* Responsiveness */
@media (min-width: 768px) {
  .header .sideMenu:checked ~ .shrink, .header .sideMenu.opened ~ .shrink {
    max-height: 69px;
  }
  .header .shrink {
    display: block;
    flex-direction: none;
    overflow: visible;
    transition: none;
  }
  .header .nav {
    top: 0;
    position: relative;
    float: right;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    overflow: visible;
  }
  .header .nav .menu {
    padding-bottom: 0px;
    flex-direction: row;
  }
  .header .nav .menu li {
    margin-top: 0px;
    float: left;
    position: relative;
  }
  .header .nav .menu .contact-btn {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #5B3587;
    border-radius: 40px;
    padding: 11.5px 12.5px 11.5px 12.5px;
    transform: translateY(-25%);
    margin-left: 3rem;
    margin-top: 0rem;
    margin-bottom: 0px;
  }
  .header .nav .menu .contact-btn a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #fff;
    margin-top: 2rem;
  }
  .header .nav .menu .contact-lenguage {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: right;
    color: #512D7D;
    margin-left: 4rem;
    margin-right: 2rem;
    margin-top: 0rem;
  }
  .header .nav .menu .contact-lenguage span {
    font-weight: 700;
  }
  .header .nav .menu a:hover {
    background-color: transparent;
    color: gray;
  }
  .header .hamb {
    display: none;
  }
}
.glide__container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.glide__arrow {
  position: absolute;
  border: none;
  border-radius: 50%;
  padding: 1em;
  cursor: pointer;
  top: 35%;
}

.glide__arrow:hover,
.glide__arrow:focus {
  transform: scale(0.7);
  outline: none;
}

.glide__arrow--left {
  left: 8px;
}

.glide__arrow--right {
  right: 8px;
}

.fa-chevron {
  font-size: 1.5rem;
  border-radius: 50%;
  color: #0067A8;
  width: 1em;
  height: 1em;
  text-align: center;
  display: inline-block;
  transition: 0.5s;
}

.card-c {
  width: 100%;
  height: auto;
  padding: 1.5em 1em 2em 1em;
  text-align: center;
}

.card__img {
  width: 80%;
  height: auto;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .glide__slides {
    overflow: hidden;
  }
  .card-c {
    padding: 0em 1em 0em 1em;
  }
}
.hero {
  background-image: url(../images/trama-hero.png);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
  padding-top: 8rem;
  align-items: center;
}
.hero img {
  width: 100%;
}
.hero h1 {
  color: #3B3B3B;
  align-self: center;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 0.015em;
  font-family: "Spartan";
}

.title-services h2 {
  color: #F9D83D;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 2rem;
  padding-top: 2.5rem;
}
.title-services p {
  font-family: "Inter";
  margin-top: 0.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

.bg { /* Grid principal */
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.bg-bottom {
  height: 10vh;
}

.white {
  background-color: white;
  grid-row: 1/2; /* para que ocupen la primera fila */
}

.purple {
  background-color: #5B3587;
  background-size: cover;
  background-attachment: fixed;
  grid-column: 2/3; /* purple en la columna 2 */
  grid-row: 1/2; /* para que ocupen la primera fila */
}

.white.left {
  grid-column: 1/2; /* white left en la columna 1 */
}

.white.right {
  grid-column: 3/4; /* white right en la columna 3 */
}

.info {
  grid-column: 1/4; /* info ocupando la columna 1 2 y 3 */
  grid-row: 1/2; /* y la fila 1 como todo lo demás */
  padding: 1.5rem 0.3rem 0.5rem 0.3rem;
  margin-bottom: -2rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 0 1.5rem 1.5rem 1.5rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  width: 320px;
  margin: 18px;
}
.card img {
  width: 80%;
  height: auto;
}
.card h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  color: #009FDB;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
}
.card a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.fondo-blue {
  position: relative;
  background-color: #0067A8;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.fondo-blue img {
  width: 75%;
  margin-top: 2rem;
  z-index: 300;
  margin-right: 3rem;
}
.fondo-blue .left-photo {
  align-self: flex-end;
  margin-top: 7rem;
}
.fondo-blue .right-photo {
  display: flex;
  justify-content: end;
}

.text-blue {
  padding: 1.57rem 7.5rem 1.57rem 7.5rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  position: absolute;
  color: #FFFFFF;
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-size: 35px;
  line-height: 120%;
  background: rgba(249, 249, 249, 0.5);
  opacity: 0.9;
  border-radius: 8px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 5%;
  left: 15%;
}
.text-blue button {
  width: 253px;
  height: 53px;
  border-radius: 40px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #3B3B3B;
  margin-top: 2rem;
}

.section-clients {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.section-clients .clients-title {
  margin: 3rem 0 2rem 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 120%;
  color: #EE7D5A;
}
.section-clients .clients-title h4 {
  margin-top: 2rem;
  margin-left: 0.5rem;
}
.section-clients .clients-title img {
  margin-left: 2rem;
  margin-right: 2rem;
}
.section-clients .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section-clients .images img {
  width: 85%;
  height: auto;
}

@media (min-width: 1400px) {
  .bg { /* Grid principal */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .text-blue {
    left: 20%;
    padding: 3rem 9.375rem 3rem 9.375rem;
  }
  .img__container .card__img {
    width: 55%;
  }
}
@media (max-width: 768px) {
  .bg {
    display: grid;
    grid-template-columns: 0fr 3fr 0fr;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
    gap: 1rem;
  }
  .hero img {
    width: 100%;
    margin: 2rem 0 2rem 0;
  }
  .hero h1 {
    margin-left: 1rem;
  }
  .fondo-blue {
    position: relative;
    background-color: #0067A8;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }
  .fondo-blue img {
    width: 90%;
    margin-top: 0rem;
    z-index: 300;
  }
  .fondo-blue .left-photo {
    align-self: flex-end;
    margin: 0;
  }
  .fondo-blue .right-photo {
    display: none;
    justify-content: end;
  }
  .text-blue {
    padding: 1rem 1rem 0.625rem 1rem;
    margin: 3.5rem 1rem 1rem 1rem;
    margin-bottom: 0rem;
    color: #FFFFFF;
    font-family: "Inter";
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    top: 0%;
    left: 0%;
  }
  .text-blue button {
    padding: 9px;
    background: rgba(255, 255, 255, 0.7);
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: black;
    width: 220px;
    height: 50px;
    margin-top: 1rem;
  }
  .glide__slides {
    overflow: hidden;
  }
  .section-clients {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #EE7D5A 0%, #EE7D5A 60%, white 60%, white 100%);
  font-style: "Inter", sans-serif;
  z-index: 10;
  position: relative;
}

.seccion-contact img {
  margin-top: 1rem;
}

.contacto-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/trama-hero-2.png);
  font-style: "Inter", sans-serif;
}

.bg-orange {
  position: absolute;
  background-color: #EE7D5A;
  width: 100%;
  height: 20rem;
  transform: translatey(130%);
}

.rombo-contacto {
  position: absolute;
  transform: translate(10%, 80%);
  opacity: 0.4;
}

.text-contact {
  margin-top: 5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
}

.p-contact {
  margin-top: 0.5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
}

.seccion-blog {
  font-family: "Inter";
  font-style: normal;
  color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 3em;
  margin-bottom: 1em;
}

.seccion-blog p {
  font-weight: 500;
  font-family: Inter;
  font-size: 16px;
  text-align: right;
}
.seccion-blog h1 {
  font-size: 1.56rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.button {
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  font-family: Inter;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.formulario-contacto {
  font-family: Inter;
  font-weight: 500;
  width: 80%;
  line-height: 160%;
  font-size: 16px;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
  color: #5B3587;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 60%;
}

.formulario-contacto h4 {
  font-weight: 700;
  font-size: 36px;
  margin-left: 1.25em;
  margin-bottom: 2rem;
}

.formulario-contacto > * {
  margin: 0 2em;
}

.formulario-contacto > *:first-child {
  margin-top: 1em;
}

.formulario-contacto > *:last-child {
  margin-bottom: 1.5em;
}

.formulario-contacto button:last-child {
  margin-left: auto; /* Botón a la derecha */
}

.contacto form {
  display: flex;
  flex-direction: column;
}

.seccion-direccion-desktop {
  display: none;
}

.seccion-direccion-mobile {
  margin-top: 3em;
  margin-bottom: 3em;
  font-family: Inter;
  font-size: 0.75em;
  font-weight: 500;
  color: var(--violeta);
  text-align: center;
}

.contacto-first {
  display: flex;
  justify-content: space-around;
}

.bg-violeta {
  background-color: #5B3587;
}

@media only screen and (min-width: 600px) {
  .contacto {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    padding-bottom: 5rem;
    padding-top: 8rem;
    z-index: 10;
    position: relative;
  }
  .contacto-page {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    padding-bottom: 5rem;
    padding-top: 8rem;
    z-index: 10;
    position: relative;
  }
  .contacto .contacto-first {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 6em;
    z-index: 20;
    position: relative;
  }
  .formulario-contacto {
    order: 2;
    width: 45%;
    padding: 2rem;
  }
  .seccion-blog {
    width: auto;
  }
  .seccion-direccion-mobile {
    display: none;
  }
  .seccion-direccion-desktop {
    display: flex;
    text-align: right;
    font-family: Inter;
    font-size: 0.75em;
    font-weight: 500;
    color: #5B3587;
    text-align: rigth;
  }
  .bg-violeta {
    background-color: #5B3587;
  }
}
@media only screen and (min-width: 600px) {
  .validated input:invalid, .validated textarea:invalid {
    border-bottom: 1px solid red;
    background: #fbb;
  }
  input {
    box-sizing: border-box;
    background: none;
    color: #5B3587;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #5B3587;
    padding: 0.3em 0.1em;
  }
  textarea {
    box-sizing: border-box;
    color: #3b3b3b;
    box-shadow: 0px 5px 4px -1px var(--sombra);
    min-height: 10em;
    width: 100%;
    background-color: #eeefe8;
    border: none;
    border-radius: 15px;
    margin-top: 0.5em;
    padding: 1em 1.5em;
  }
  .button {
    color: white;
    border: none;
    border-radius: 80px;
    margin-top: 20px;
    padding: 16px 32px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
  }
  .field {
    margin-top: 1em;
  }
  .input-group input:focus, textarea:focus {
    outline: none;
  }
  .input-group input:focus ~ label, textarea:focus ~ label, input.filled ~ label, textarea:valid ~ label {
    top: -1em;
    font-size: 12px;
    color: #5B3587;
  }
  input:focus ~ .bar:before, textarea:focus ~ .bar:before {
    width: 100%;
  }
  .input-group {
    position: relative;
    margin-top: 1em;
  }
  .input-group label {
    color: #5B3587;
    position: absolute;
    pointer-events: none;
    left: 0.1em;
    top: 0.2em;
    transition: 300ms ease all;
  }
  .input-group .bar {
    position: relative;
    display: block;
  }
  .input-group .bar:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5B3587;
    transition: 300ms ease all;
    left: 0;
  }
  input[type=range] {
    accent-color: #5B3587;
  }
  input[type=range]::-webkit-slider-thumb {
    opacity: 0;
  }
  input[type=range]::-moz-range-thumb {
    opacity: 0;
  }
  input[type=range]::-ms-thumb {
    opacity: 0;
  }
  .range-field {
    display: flex;
    align-items: center;
  }
  .range-field #budget_text {
    width: 35%;
    text-align: right;
  }
  .bg-violeta {
    background-color: #5B3587;
  }
}
.icon-form {
  display: block;
  position: relative;
  z-index: 1;
  transform: translateY(-114%);
  opacity: 0.6;
}

@media (max-width: 768px) {
  .icon-form {
    display: none;
  }
  .contacto-first {
    justify-content: center;
    display: flex;
  }
  .seccion-blog p {
    text-align: left;
  }
  .formulario-contacto {
    font-family: Inter;
    font-weight: 500;
    width: 80%;
  }
  .formulario-contacto h4 {
    margin-left: 16px;
  }
  input {
    margin-bottom: 0.8rem;
    box-sizing: border-box;
    color: #5b3587;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #5b3587;
    border-radius: 0;
    padding: 0.3em 0.1em;
  }
  input[type=range] {
    accent-color: #5b3587;
  }
  .text-contact {
    margin: 11rem 0.5rem 0 0.5em;
    font-size: 35px;
    font-size: 40px;
    margin-left: 1rem;
  }
  .p-contact {
    margin: 0rem 0.5rem 0 0.5em;
    font-size: 35px;
  }
  .rombo-contacto {
    display: none;
  }
  .bg-orange {
    margin-top: 3rem;
  }
  textarea {
    box-sizing: border-box;
    color: #3b3b3b;
    box-shadow: 0px 5px 4px -1px var(--sombra);
    min-height: 10em;
    width: 100%;
    background-color: #eeefe8;
    border: none;
    border-radius: 15px;
    margin-top: 0.5em;
    padding: 1em 1.5em;
  }
}
.footer {
  position: absolute;
  width: 100%;
  display: flex;
  background-color: #5B3587;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  flex-flow: wrap;
  z-index: 600;
}
.footer .logo {
  align-self: center;
  padding-left: 3rem;
}
.footer .footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
}
.footer .footer-flex .social-links {
  padding-right: 3rem;
}
.footer .footer-flex .bi {
  font-size: 30px;
  color: #FFFFFF;
  padding-right: 1rem;
  font-weight: 600;
}
.footer .footer-flex .p-footer p {
  color: #FFFFFF;
  font-family: "Inter";
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140.5%;
  padding-right: 6rem;
}
.footer .footer-flex .data-fiscal {
  padding-right: 3rem;
}

@media (max-width: 768px) {
  .footer {
    justify-content: center;
    flex-flow: wrap;
  }
  .footer .logo {
    align-self: center;
    padding-left: 0rem;
  }
  .footer .footer-flex {
    flex-direction: column;
  }
  .footer .footer-flex .social-links {
    margin-top: 1.5rem;
    padding-right: 0rem;
  }
  .footer .footer-flex .bi {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .footer .footer-flex .p-footer {
    margin: 1.5rem 0 1.5rem 0;
  }
  .footer .footer-flex .p-footer p {
    padding-right: 0rem;
  }
  .footer .footer-flex .data-fiscal {
    padding-right: 0rem;
  }
}
.proyects {
  background-image: url(../images/trama-hero.png);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding-top: 8rem;
  justify-content: space-between;
  align-items: center;
}
.proyects .img {
  width: 50%;
  display: flex;
  justify-content: end;
}
.proyects .text {
  padding-left: 3rem;
}
.proyects .text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  color: #000000;
}
.proyects .text p {
  margin-top: 0.5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
}
.proyects .text img {
  margin-top: 1rem;
}

.proyects-cards {
  background-image: url(../images/fondo-proyectos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.proyects-cards article {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 30%;
  background: #FFFFFF;
  box-shadow: 0px 50px 70px rgba(129, 123, 104, 0.25);
  border-radius: 16px;
  padding: 2rem;
  margin-top: 3rem;
}
.proyects-cards article .logo-cliente {
  width: 60%;
}
.proyects-cards article h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #666666;
}
.proyects-cards article p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #666666;
}
.proyects-cards .flex-logos {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.proyects-cards .flex-logos a {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #5B3587;
  border-radius: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  border: none;
  padding: 13.5px 16px 13.5px 16px;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ruedas {
  display: block;
  position: absolute;
  z-index: 200;
  transform: translate(35%, 372%);
}

.circulo-proyecto {
  display: block;
  position: absolute;
  z-index: 200;
  transform: translate(350%, 90%);
}

.rombo-proyecto {
  display: block;
  position: absolute;
  z-index: 200;
  transform: translateX(1350%);
}

.bg-orange-proyects {
  position: absolute;
  background-color: #EE7D5A;
  width: 100%;
  height: 30rem;
  transform: translateY(43%);
  z-index: 0;
}

.clients-logos {
  padding: 2rem;
  font-family: Inter;
  font-weight: 500;
  line-height: 160%;
  font-size: 16px;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
  margin-top: 1em;
  margin-bottom: 8em;
  width: 73%;
  z-index: 201;
}
.clients-logos h6 {
  margin: 1rem 0 1.5rem 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 120%;
  text-align: left;
  color: #0067A8;
}
.clients-logos .clients-logos-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.clients-logos .clients-logos-img img {
  margin-left: 3rem;
}

@media (min-width: 1400px) {
  .proyects-cards article {
    width: 31%;
  }
  .clients-logos {
    margin-top: 5rem;
    width: 90%;
  }
  .ruedas {
    transform: translate(25%, 288%);
  }
  .circulo-proyecto {
    transform: translate(550%, 45%);
  }
  .rombo-proyecto {
    transform: translateX(15%);
  }
  .bg-orange-proyects {
    height: 35rem;
    transform: translateY(15%);
  }
}
@media (max-width: 1167px) {
  .ruedas {
    display: none;
  }
  .circulo-proyecto {
    display: none;
  }
  .rombo-proyecto {
    display: none;
  }
  .bg-orange-proyects {
    height: 35rem;
    transform: translateY(60%);
  }
}
@media (max-width: 768px) {
  .proyects {
    padding-top: 13rem;
  }
  .proyects .img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .proyects-cards article {
    width: 100%;
  }
  .proyects-cards article .logo-cliente {
    width: 80%;
  }
  .proyects-cards .flex-logos a {
    padding: 13.5px 10px 13.5px 10px;
  }
  .clients-logos {
    padding-left: 0;
    padding-right: 0;
  }
  .clients-logos h6 {
    font-size: 24px;
  }
  .clients-logos .clients-logos-img img {
    margin-left: 0rem;
  }
  .ruedas {
    display: none;
  }
  .circulo-proyecto {
    display: block;
    margin-left: 1rem;
    margin-bottom: 2rem;
    transform: translate(0%, 600%);
  }
  .circulo-proyecto img {
    width: 60%;
  }
  .rombo-proyecto {
    display: none;
  }
  .bg-orange-proyects {
    height: 35rem;
    transform: translateY(170%);
  }
}
.services {
  background-image: url(../images/trama-hero.png);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
  padding-top: 8rem;
  justify-content: space-between;
  align-items: center;
}
.services .img {
  width: 50%;
  display: flex;
  justify-content: end;
}
.services .text {
  padding-left: 3rem;
}
.services .text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 120%;
  color: #000000;
}
.services .text p {
  margin-top: 0.5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
}
.services .text img {
  margin-top: 1rem;
}

.services-section {
  margin: 0 3rem 0 3rem;
}
.services-section div h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  color: #5B3587;
  margin-left: 4rem;
  margin-bottom: 3rem;
}
.services-section .services-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.services-section .services-icons .services-flex {
  margin-top: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #3B3B3B;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-section .services-icons .border {
  border-right: 1px solid #D9D2E2;
  border-bottom: 1px solid #D9D2E2;
  border-left: 1px solid #D9D2E2;
  border-radius: 0px 0px 20px 20px;
}
.services-section .services-icons .b-1 {
  border-top: 3px solid #EE7D5A;
  border-radius: 0 0 20px 21px;
}
.services-section .services-icons .b-2 {
  border-top: 3px solid #009FDB;
  border-radius: 0 0 20px 21px;
}
.services-section .services-icons .b-3 {
  border-top: 3px solid #E30937;
  border-radius: 0 0 20px 21px;
}
.services-section .services-icons .b-4 {
  border-top: 3px solid #BB1271;
  border-radius: 0 0 20px 21px;
}
.services-section .services-icons .b-5 {
  border-top: 3px solid #5A3586;
  border-radius: 0 0 20px 21px;
}
.services-section .services-icons .b-6 {
  border-top: 3px solid #0067A8;
  border-radius: 0 0 20px 21px;
}
.services-section .services-card {
  display: flex;
  align-items: center;
  margin: 4rem 3rem 4rem 3rem;
  background: rgba(217, 217, 217, 0.1);
  border: 1px solid rgba(83, 46, 127, 0.2);
  border-radius: 0px 0px 20px 21px;
  border-width: 3px;
  border-style: solid;
  border-top-color: #009FDB;
}
.services-section .services-card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  color: #3B3B3B;
}
.services-section .services-card .card-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-section .services-card .card-icon p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 2rem;
}

.technology {
  margin-bottom: rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #EE7D5A 0%, #EE7D5A 50%, white 0%, white 50%);
  font-style: "Inter", sans-serif;
  z-index: 10;
}

.technology-logos {
  padding: 2rem;
  font-family: Inter;
  font-weight: 500;
  line-height: 160%;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 0px 50px 70px rgba(129, 123, 104, 0.25);
  background-color: white;
  margin-top: 3em;
  margin-bottom: 5em;
  width: 73%;
}
.technology-logos h6 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 120%;
  text-align: center;
  color: #5B3587;
}
.technology-logos .tech-logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.technology-logos .tech-logos img {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
}
.technology-logos .tech-logos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #AAAAAA;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}

@media (max-width: 768px) {
  .services .img {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .services-section {
    margin: 0 3rem 0 3rem;
  }
  .services-section .services-card {
    flex-direction: column;
    margin: 2rem 0rem 2rem 0rem;
  }
}
.glide__container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.glide__arrow {
  position: absolute;
  border: none;
  border-radius: 50%;
  padding: 1em;
  cursor: pointer;
  top: 35%;
}

.glide__arrow:hover,
.glide__arrow:focus {
  transform: scale(0.7);
  outline: none;
}

.glide__arrow--left {
  left: 8px;
}

.glide__arrow--right {
  right: 8px;
}

.fa-chevron {
  font-size: 1.5rem;
  border-radius: 50%;
  color: #0067A8;
  width: 1em;
  height: 1em;
  text-align: center;
  display: inline-block;
  transition: 0.5s;
}

.card-c {
  width: 100%;
  height: auto;
  padding: 1.5em 1em 2em 1em;
  text-align: center;
}

.card__img {
  width: 80%;
  height: auto;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .glide__slides {
    overflow: hidden;
  }
  .card-c {
    padding: 0em 1em 0em 1em;
  }
}
.nosotres-section {
  background-image: url(../images/fondo-nosotres.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 3rem;
}
.nosotres-section div {
  width: 70%;
}
.nosotres-section div h2 {
  margin: 2rem 0 1rem 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 120%;
  color: #454B54;
}
.nosotres-section div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  color: #000000;
}

.nosotres-video {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #5B3587 70%, white 0%);
  font-style: "Inter", sans-serif;
  z-index: 10;
}
.nosotres-video img {
  width: 80%;
  height: auto;
}

.nosotres-frase {
  background-color: #5B3587;
  display: flex;
  justify-content: center;
}
.nosotres-frase .comillas-nosotres {
  margin-top: 7rem;
  opacity: 0.1;
  transform: translate(40%, -35%);
}
.nosotres-frase .text-nosotres {
  margin-top: 4rem;
  margin-bottom: 3rem;
  color: #FFFFFF;
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
}
.nosotres-frase .text-nosotres span {
  color: #F9D83D;
}
.nosotres-frase .nosotres-trama {
  display: block;
  transform: translate(48%, -50%);
}

.flex-nosotres {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-nosotres .texto-comunidad {
  margin-left: 3rem;
  padding: 4rem;
}
.flex-nosotres .texto-comunidad h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-align: left;
  color: #EE7D5A;
  margin-bottom: 2rem;
}
.flex-nosotres .texto-comunidad p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  color: #454B54;
}
.flex-nosotres .img-carousel {
  margin: 5rem;
  width: 100%;
  height: auto;
}
.flex-nosotres .img-carousel .carousel {
  position: relative;
  filter: drop-shadow(0px 50px 70px rgba(0, 0, 0, 0.25));
  margin-top: 26px;
}
.flex-nosotres .img-carousel .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.flex-nosotres .img-carousel .carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
.flex-nosotres .img-carousel .carousel-item {
  position: absolute;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.flex-nosotres .img-carousel .carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}
.flex-nosotres .img-carousel .carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.flex-nosotres .img-carousel .carousel-control.prev {
  left: 2%;
}
.flex-nosotres .img-carousel .carousel-control.next {
  right: 2%;
}
.flex-nosotres .img-carousel .carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
.flex-nosotres .img-carousel #carousel-1:checked ~ .control-1,
.flex-nosotres .img-carousel #carousel-2:checked ~ .control-2,
.flex-nosotres .img-carousel #carousel-3:checked ~ .control-3 {
  display: block;
}
.flex-nosotres .img-carousel .carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.flex-nosotres .img-carousel .carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}
.flex-nosotres .img-carousel .carousel-bullet {
  color: grey;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.flex-nosotres .img-carousel .carousel-bullet:hover {
  color: #aaaaaa;
}
.flex-nosotres .img-carousel #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
.flex-nosotres .img-carousel #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
.flex-nosotres .img-carousel #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: black;
}
.flex-nosotres .img-carousel #title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.software-libre {
  background-color: #0067A8;
}
.software-libre .t-software-libre {
  margin: 0rem 2rem 2rem 2rem;
  padding: 4rem 2rem 0 2rem;
}
.software-libre .t-software-libre h4 {
  margin-bottom: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  color: #FFFFFF;
}
.software-libre .t-software-libre p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  color: #FFFFFF;
}
.software-libre .t-software-libre .codigo-libre-d {
  display: inline;
}
.software-libre .t-software-libre .codigo-libre-m {
  display: none;
}
.software-libre .libertades {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.software-libre .libertades div {
  margin-right: 1rem;
  margin-bottom: 4rem;
}
.software-libre .libertades div h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.4);
  margin-right: 2rem;
}
.software-libre .libertades div p {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  color: #FFFFFF;
}
.software-libre .libertades-flex {
  display: flex;
  align-items: center;
}

@media (min-width: 1400px) {
  .nosotres-section {
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .flex-nosotres {
    display: flex;
    flex-direction: column;
  }
  .flex-nosotres .texto-comunidad {
    padding: 3rem;
    margin-left: 0rem;
  }
  .flex-nosotres .img-carousel {
    margin: 0rem;
  }
  .services .text {
    margin-top: 3rem;
  }
  .software-libre .t-software-libre {
    padding: 4rem 0rem 0 0rem;
  }
  .software-libre .t-software-libre .codigo-libre-d {
    display: none;
  }
  .software-libre .t-software-libre .codigo-libre-m {
    display: block;
  }
  .software-libre .t-software-libre .codigo-libre-m img {
    transform: translateX(-15%);
  }
  .software-libre .libertades {
    flex-direction: column;
  }
  .software-libre .libertades div {
    margin-bottom: 2rem;
    margin-right: 0rem;
  }
  .software-libre .libertades .libertades-flex {
    flex-direction: column;
  }
  .nosotres-frase {
    background-color: #5B3587;
    display: block;
  }
  .nosotres-frase .comillas-nosotres {
    margin-left: 3rem;
    margin-top: 0rem;
    opacity: 0.1;
    transform: translate(0%, 40%);
  }
  .nosotres-frase .comillas-nosotres img {
    width: 50%;
  }
  .nosotres-frase .text-nosotres {
    margin-top: 4rem;
    padding-bottom: 3rem;
    margin-left: 2rem;
    color: #FFFFFF;
    font-family: "Inter";
    font-style: italic;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
  }
  .nosotres-frase .text-nosotres span {
    color: #F9D83D;
  }
  .nosotres-frase .text-nosotres .text-nosotres {
    transform: translateX(-55%);
    font-size: 40px;
  }
  .nosotres-frase .nosotres-trama {
    display: none;
  }
}
.header-project {
  margin-bottom: 3rem;
  padding-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-project .breadcrumb {
  margin-top: 2rem;
  padding-left: 3rem;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #3B3B3B;
}
.header-project .breadcrumb .breadcrumb-active {
  font-weight: 700;
}
.header-project .img-project {
  padding-right: 3rem;
}

.project-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.project-section div {
  width: 70%;
}
.project-section div h2 {
  margin: 1rem 0 1rem 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #666666;
}
.project-section div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #666666;
}
.project-section .project-img {
  margin-top: 1rem;
  width: 50%;
  align-self: center;
}
.project-section .project-img img {
  width: 100%;
  height: auto;
}

.bg-tech {
  display: flex;
  justify-content: center;
}

.clients-title-project {
  padding-left: 3rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: left;
  color: #454B54;
}

.project-tech {
  padding: 3rem;
  background: #EEEFE8;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.project-tech h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #A8A6A6;
}
.project-tech .tech-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-tech .tech-logos div {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.project-tech .tech-logos div p {
  align-self: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #A8A6A6;
}/*# sourceMappingURL=main.css.map */